<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title blog
		link(rel="stylesheet", href="css/style.css")
	body
		.header
			include common/nav
			.section__bottom
				.section__container.d-flex.flex-column.justify-content-around.p-5
					.section__title.container
						h3.text-primary Our Blog
						p Here's where we address the burning questions. From new tech, creative inspiration and new business wins to movie reviews. It's all here in our journal.
						.line.container
		.content
			.main__content
				ul.d-flex.flex-column.justify-content-between.pt-5.pb-5.pl-0
					li.li
						p g+ notifications icon position in Chrome makes me screeaaaaam :)
						.data December 17, 2014
					li.li
						p Pointers on Product Development
						.data August 19, 2014
					li.li
						p The Art of Vulnerable Development
						.data July 09, 2014
					li.li
						p Project Managers - are they the evolutionary “pinkie toe” of development?
						.data June 19, 2014
					li.li
						p $50,000 Competition Winner - Ziteboard
						.data June 06, 2014
					li.li
						p A New Project Begins...
						.data May 30, 2014
					li.li
						p Competition Spirit
						.data May 27, 2014
					li.li
						p agile. With a little "a".
						.display-5 May 15, 2014
					li.li
						p Sun Tzu, Modern Businessman
						.data May 13, 2014
					li.li
						p Ideas from Non-Tech Professionals
						.data May 01, 2014
					li.li
						p g+ notifications icon position in Chrome makes me screeaaaaam :)
						.data December 17, 2014




		include common/section
		include common/footer