<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title work
		link(rel="stylesheet", href="css/style.css")
	body
		.header
			include common/nav
			.section__bottom
				.section__container
					img(src="img/bunner/bunneriphone.jpg", alt="").w-100
		nav.nav.text-cenetr.justify-content-center.py-5
			a(href="iphone.html").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5 Iphone
			a(href="work.html").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5 Samsung
			a(href="xiaomi.html").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5 Xiaomi
			a(href="sony.html").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5 Sony
		.content.container
			.row.text-cenetr.justify-content-center
				.col-lg-3.p-0
					img(src="img/catalog/7s.jpg").catalog
					.mx-5.px-5 Iphone 7
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/xs.jpg").catalog
					.mx-5.px-5 Iphone XS
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/11.jpg").catalog
					.mx-5.px-5 Iphone 11
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/pro.jpg").catalog
					.mx-3.px-5 Iphone 11 pro
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.mx-5.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.mx-5.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.mx-5.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.px-5 Samsung S9
					h2.pl-5 32 000 сом
				.col-lg-3.p-0
					img(src="img/catalog/s9.jpg").catalog
					.px-5 Samsung S9
					h2.pl-5 32 000 сом


		include common/section
		include common/footer
