.footer.container.d-flex.justify-content-center.m-5
				.footer__container

					nav.nav
					nav.nav
						a(href="index.html").nav-link.pr-0.pl-0.pb-3.text-body.display-4 Al
						span
							a(href="index.html").nav-link.pl-0.pb-3.display-4 oo
						a(href="#").nav-link.text-body Наш чат
						a(href="#").nav-link.text-body Twitter
						a(href="#").nav-link.text-body FaceBook