.nav__common.d-flex.justify-content-between.m-5
				nav.nav
					a(href="index.html")
						img.size(src="img/logo1.png", alt="")
					//- a(href="index.html").nav-link.pr-0.pl-0.text-body.log__size Al
					//- span
					//- 	a(href="index.html").nav-link.pl-0.log__size oo

				nav.nav
					a(href="index.html").nav-link.text-body Главный
					a(href="work.html").nav-link.text-body Каталог
					a(href="blog.html").nav-link.text-body Отзывы
					a(href="log.php").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5 Регистрация