.section__bottom.bg-light
			.section__container.d-flex.flex-column.justify-content-around.p-5
				
				.section__footer
					.display-4.p-4 Если хочешь сделать покупку то нужно сделать регистарцию
					a(href="contact.html").nav-link.border.btn.btn-outline-primary.rounded-pill.border-primary.text-bodyp-5.w-25.container Зарегистрироваться